<html>
    <body>
        <div>

            <table border="1">
                <thead>
                <th style="width:600px;">Original</th>
                <th>Diff Bits</th>
                </thead>
                <tbody>
                {% for submission in submissions %}
                <tr>
                    <td>{{ submission.original }}</td>
                    <td>{{ submission.diff_bits }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

    </body>
</html>