<html>
    <body>
        <table>
            <thead>
                <th>Hash</th>
                <th>Original</th>
                <th>Diff Bits</th>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.hash }}</td>
                    <td>{{ submission.original }}</td>
                    <td>{{ submission.diff_bits }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </body>
</html>